@import url('https://fonts.googleapis.com/css2?family=Signika+Negative:wght@300..700&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Signika Negative, Courier, monospace;
}

body{
    overflow-x: auto;
    background: rgb(252, 233, 202);
}

.header{
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 10px solid rgb(252, 235, 89);
    border-bottom: 10px solid rgb(252, 235, 89);
    background: rgb(238, 171, 64);
}

.logo{
    font-size: 40px;
    color: rgb(252, 235, 89);
    text-decoration: none;
    opacity: 0;
    animation: slideRight 1s ease forwards;
    margin-left: 35px;
}

.navbar a{
    display: inline-block;
    font-size: 32px;
    color: rgb(252, 235, 89);
text-decoration: none;
font-weight: 500;
margin: 0 20px;
transition: .3s;
opacity: 0;
animation: slideTop .5s ease forwards;
animation-delay: calc(.2s * var(--i)); 
}

.navbar a:hover{
    color: rgb(252, 217, 162);
}

.navbar a.active{
    color: rgb(252, 217, 162);
}

.home-content {
    border-top: 10px solid rgb(250, 219, 134);
    border-bottom: 10px solid rgb(250, 219, 134);
    background-color: rgb(252, 192, 103);
    padding: 14px;
    opacity: 0;
    animation: slideBottom 1s ease forwards;
    animation-delay: 1s;
}

.home-content  h1{
text-align: center;
font-size: 85px;
}



.decrypt{
    border: 3px solid rgb(238, 171, 64);
    margin: 15px 55px;
    border-radius: 10px;
    text-align: center;
    padding: 20px;
    border: 5px solid rgb(252, 192, 103);
    background: rgb(252, 217, 162);
    background-position: center;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, .2);
    opacity: 0;
    animation: slideTop 1s ease forwards;
    animation-delay: 1s;
}

.decrypt .content{
    border: 3px solid #75dd30;
    background-color: #deffa8;
    border-radius: 5px;
}



.btn{
    display: inline-block;
    padding: 7px 25px;
    background: rgb(0, 155, 0);
    border: 2px solid rgb(0, 155, 0);
    border-radius: 6px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, .2);
    font-size: 16px;
    text-decoration: none;
    color: white;
    margin-top: 15px;
    transition: .5s;
    opacity: 0;
    animation: slideTop 1s ease forwards;
    animation-delay: 1.5s;
}

.btn:hover {
    background: rgb(252, 217, 162);
    color: black;
    border-color: rgb(94, 161, 94);
    }

.popup{
    width: 400px;
    background-color: #ffffff;
    border-radius: 6px;
    position: absolute;
    top: 0;
    left:50%;
    transform: translate(-50%, -50%) scale(0.1);
    text-align: center;
    padding: 0 30px 30px;
    color: #333;
    visibility: hidden;
    transition: transform 0.4s, top 0.4s;
}

.open-popup{
    visibility: visible;
    top: 50%;
    transform: translate(-50%, -50%) scale(1);
}

.popup img{
    width: 100px;
    margin-top: -50px;
    border-radius: 50%;
    box-sizing: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.popup h2{
font-size: 38px;
font-weight: 500;
margin: 10px 0 10px;
}

.popup button{
width: 100%;
margin-top: 10px;
padding: 10px 0;
background: #6fd649;
color: #ffffff;
border: 0;
outline: none;
font-size: 18px;
border-radius: 4px;
cursor: pointer;
box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
}
















@keyframes slideRight{
    0% {
        transform: translateX(-100px);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slideLeft{
    0% {
        transform: translateX(100px);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slideTop{
    0% {
        transform: translateY(100px);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes slideBottom{
    0% {
        transform: translateY(-100px);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes zoomOut{
    0% {
        transform: scale(1.1);
        opacity: 0;
    }

    100% {
        transform: scale(1);
        opacity: 1;
    }
}

@keyframes Home-image{
    0% {
        transform: translate(300px, -300px) scale(0);
        opacity: 0;
    }

    100% {
        transform: translate(0, 0) scale(1);
        opacity: 1;
    }
}




@media only screen and (max-width: 768px) {
    .logo {
        font-size: 24px;
        margin-left: 10px;
    }

    .navbar a {
        font-size: 18px;
        margin: 0 5px;
    }

    
.home {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 8% 0;
}

.home-content {
    padding: 10px;
}  

.home-content h1{
    font-size: 65px;
}

.opt{

width: 100%;
}

.btn{
    padding: 7px 20px;
    font-size: 14px;
    margin-top: 10px;
}

.popup{
    width: 90%;
    max-width: 400px;
}

.popup img{
    width: 80px;
    margin-top: -40px;
}

.popup h2{
    font-size: 24px;
}

.popup button{
    font-size: 16px;
}
}